body {
  display: flex;
  flex-direction: column;
}

#title {
  justify-content: center;
  text-align: center
}

#container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

table, th, td {
  border: 1px solid black;
  font-size: 110%;
  text-align: center;
}

th {
  padding-top: 15px;
}

td {
  padding-right: 15px;
  padding-left: 15px
}

h2 {
  text-align: center
}
